<%= form_with(model: train_station, local: true) do |form| %>
  <% if train_station.errors.any? %>
    <%= render 'common/error', resource: train_station %>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
