<p id="notice"><%= notice %></p>

<h1>Train Stations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @train_stations.each do |train_station| %>
      <tr>
        <td><%= train_station.title %></td>
        <td><%= link_to 'Show', train_station %></td>
        <td><%= link_to 'Edit', edit_train_station_path(train_station) %></td>
        <td><%= link_to 'Destroy', train_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Train Station', new_train_station_path %>
