<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<% if @train.current_station.present? %>
  <p>
    <h4>Current_station: <%= @train.current_station.title %></h4>
  </p>
<% else %>
  <p>Train is on it's way.</p>
<% end %>
<% if @train.route.present? %>
  <p>
  <h4>Route: <%= @train.route.name %></h4>
  </p>
<% else %>
  <p>This train has not route</p>
<% end %>
<p>
  <% comfort = default = top_places = bottom_places = 0 %>
  <% @train.carriages.each do |carriage|
      if carriage.carriage_type == 'default'
        default += 1
      else
        comfort += 1
      end
    top_places += carriage.top_places
    bottom_places += carriage.bottom_places
    end %>
  <h4>Comfort carriages: <%= comfort %></h4>
  <h4>Default carriages: <%= default %></h4>
  <h4>Top places: <%= top_places %></h4>
  <h4>Bottom places: <%= bottom_places %></h4>
</p>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
