<!DOCTYPE html>
<html>
  <head>
    <title>RailwayStation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div>
      <p>(с) 2020 Havrysh Dmytro</p>
      <%= link_to 'Home', welcome_index_path %>
    </div>
  </body>
</html>
