<!DOCTYPE html>
<html>
  <head>
    <title>RailwayStation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="main center">
    <div class="header">
      <div class="profile">
        <% if user_signed_in? %>
          <p>Email: <%= current_user.email %></p>
          <p>First name: <%= current_user.first_name %></p>
        <% end %>
      </div>
      <div class="login-link">
        <% if user_signed_in? %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path %>
        <% end %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
      <p>(с) 2020 Havrysh Dmytro</p>
      <%= link_to 'Home', welcome_index_path %>
  </div>
  </body>
</html>
